<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Got2GoSEA (beta)</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo-toilet.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=version) }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Got 2 Go Seattle">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='logo-toilet.png') }}">
</head>
<body>
    <div id="loading-indicator">
        <div class="spinner"></div>
    </div>
    <div id="welcome-modal" class="modal">
        <div class="modal-content">
            <h2>Welcome to Got2GoSEA!</h2>
            <div class="modal-logo-container">
                <img src="{{ url_for('static', filename='logo-toilet.png') }}" alt="Got2GoSEA Logo" class="modal-logo">
            </div>
            <ul>
                <li>Is it a bathroom emergency? Or are you simply an introverted Seattleite who avoids talking to people? Either way, we got you covered</li>
                <li>We crowdsource all the Wi-Fi and bathroom codes, and keep them up to date</li>
                <li>Shops with existing Wi-Fi or bathroom codes are marked on the map. To suggest a code for a new store, use the left sidebar to find the location</li>
                <li>Upvote the codes that helped you and downvote the ones that are too old!</li>
            </ul>
            <p>Enjoy!</p>
            <div class="modal-footer">
                <label>
                    <input type="checkbox" id="dont-show-welcome-again">
                    Don't show this again
                </label>
                <button id="lets-go-button" class="lets-go-button">LET ME IN I GOT 2 GO !!!</button>
            </div>
        </div>
    </div>

    <header id="main-header">
        <button id="toggle-sidebar-header" class="sidebar-toggle-header">☰</button>
        <img src="{{ url_for('static', filename='logo-toilet.png') }}" alt="Got2GoSEA Logo" class="header-logo">
        <h1>Got2GoSEA</h1>
        <button id="install-app-button" style="display:none;">Install App</button>
        <a href="https://buymeacoffee.com/tameravci" target="_blank" class="buy-me-a-coffee-link">Buy Me a Coffee</a>
    </header>
    <div id="content-container">
        <div id="sidebar">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Search coffee shops...">
                <span id="clear-search" style="cursor: pointer; color: red; font-weight: bold; margin-left: -25px; z-index: 2;">&times;</span>
            </div>
            <div class="filter-container">
                <label>
                    <input type="checkbox" id="show-all-locations">
                    Show all locations
                </label>
            </div>
            <div id="shop-list"></div>
        </div>
        <div id="map">
            <button id="find-me-button" title="Find my location">&#8982;</button>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='app.js', v=version) }}"></script>
    <div id="toast"></div>
</body>
</html>