<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seattle Coffee Compass</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header id="main-header">
        <button id="toggle-sidebar-header" class="sidebar-toggle-header">☰</button>
        <h1>Coffee Codebook</h1>
    </header>
    <div id="content-container">
        <div id="sidebar">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Search coffee shops...">
                <button id="search-button">Search</button>
            </div>
            <div id="shop-list"></div>
        </div>
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>